%h1
  StackPro

%h2
  When are the most questions answered on Stack Overflow?

%ul
  %li
    Questions Asked:
  %li
    .box#total
  %li
    Questions Unanswered:
  %li
    .box#subset

%canvas{:id => "myChart", :width => 1200, :height => 600}
/ need to iterate through and add the correct numer of rows, then probably linear 5x to fill each column (to save having to actually reorganize data
%table#thechart
  %thead
    %tr
      %td
        Timestamp
      %td
        Percent Unanswered
      %td
        Questions Asked
      %td
        Questions Answered
  %tbody
    


.footer
  A work in progress by David
  %a{href:"http://www.davidbrownman.com"}
    Brownman

:javascript
  function build(d){
    // chart should scale to fit the whole graph
    var m = Math.max.apply(Math, data.datasets[0].data)+50;
    var n = Math.min.apply(Math, data.datasets[1].data)-50;

    new Chart(ctx).Line(d,{scaleOverride : true, scaleSteps : 10, scaleStepWidth : m/10, scaleStartValue : n});
  };

  var dates = #{@dates};

  var asked = #{@asked};

  var unanswered = #{@unanswered};

  var percentage = #{@percentage};

  // var r = #{@responses};

  //JSON.parse(r[0]);

  var ctx = document.getElementById("myChart").getContext("2d");
  ctx.canvas.width  = window.innerWidth;
  var data = {
    labels : dates,
    datasets : [
      {
        fillColor : "#1145ff",
        strokeColor : "#000000",
        pointColor : "#fff",
        pointStrokeColor : "#000000",
        data : asked
      },
      {
        fillColor : "rgba(151,187,205,0.5)",
        strokeColor : "rgba(151,187,205,0.8)",
        pointColor : "#fff",
        pointStrokeColor : "#000000",
        data : unanswered
      }
    ]
  }

  build(data); //builds the chart

  //all of the ruby stuff is included at load. might get too big, might not.
  //the web is scary, can probably have huge data included? may hurt
  //runtime. idk.
  for (var i=0; i<dates.length;i++) {
    var r = ["<tr>",
      "<td>",dates[i],"</td>",
      "<td>",percentage[i].toFixed(2)+'%',"</td>",
      "<td>",asked[i],"</td>",
      "<td>",unanswered[i],"</td>",
      "</tr>"].join(' ');

    $("#thechart").append(r);
  };

  



  $(".butt").click(function(){
    // data.labels[0] = "#{@answer}";
    build(data);
  });
