%h1
  hello!

%h3
  percect of questions unanswered

%canvas{:id => "myChart", :width => 800, :height => 600}

.butt

A work in progress by David
%a{href:"http://www.davidbrownman.com"}
  Brownman

:javascript
  function build(d){
    new Chart(ctx).Line(d,{});
  };

  function makeClean(a){
    var s = a.slice(1,a.length-1).split(', ');
    for(var i=0; i<s.length;i++) s[i] = +s[i];
    return s;
  }

  var dates = "#{@dates}";
  dates = dates.slice(1,dates.length-1).split(', ');

  var asked = makeClean("#{@asked}");

  var unanswered = makeClean("#{@unanswered}");

  var percentage = makeClean("#{@percentage}");

  var ctx = document.getElementById("myChart").getContext("2d");
  var data = {
    labels : dates,
    datasets : [
      {
        fillColor : "rgba(220,220,220,0.5)",
        strokeColor : "rgba(220,220,220,1)",
        pointColor : "rgba(220,220,220,1)",
        pointStrokeColor : "#fff",
        data : asked
      },
      {
        fillColor : "rgba(151,187,205,0.5)",
        strokeColor : "rgba(151,187,205,1)",
        pointColor : "rgba(151,187,205,1)",
        pointStrokeColor : "#fff",
        data : unanswered
      }
    ]
  }

  build(data);

  //all of the ruby stuff is included at load. might get too big, might not.
  //the web is scary, can probably have huge data included? may hurt
  //runtime. idk.

  $(".butt").click(function(){
    // data.labels[0] = "#{@answer}";
    build(data);
  });
