%h1
  StackPro

%h2
  When are the most questions answered on Stack Overflow?

%ul
  %li
    Questions Asked:
  %li
    .box#asked
  %li
    Questions Unanswered:
  %li
    .box#unanswered

%canvas{:id => "myChart", :width => 1200, :height => 600}

A work in progress by David
%a{href:"http://www.davidbrownman.com"}
  Brownman

:javascript
  function build(d){
    var m = Math.max.apply(Math, data.datasets[0].data)+50

    new Chart(ctx).Line(d,{scaleOverride : true, scaleSteps : 10, scaleStepWidth : m/10, scaleStartValue : 0});
  };

  var dates = #{@dates};

  var asked = #{@asked};

  var unanswered = #{@unanswered};

  var percentage = #{@percentage};

  var ctx = document.getElementById("myChart").getContext("2d");
  ctx.canvas.width  = window.innerWidth;
  var data = {
    labels : dates,
    datasets : [
      {
        fillColor : "#1145ff",
        strokeColor : "rgba(220,220,220,1)",
        pointColor : "#fff",
        pointStrokeColor : "#000000",
        data : asked
      },
      {
        fillColor : "rgba(151,187,205,0.5)",
        strokeColor : "rgba(151,187,205,1)",
        pointColor : "#fff",
        pointStrokeColor : "#000000",
        data : unanswered
      }
    ]
  }

  build(data);

  //all of the ruby stuff is included at load. might get too big, might not.
  //the web is scary, can probably have huge data included? may hurt
  //runtime. idk.

  $(".butt").click(function(){
    // data.labels[0] = "#{@answer}";
    build(data);
  });
